body {
    background-image: url("https://images.unsplash.com/photo-1548248823-ce16a73b6d49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1376&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

#searchResults, #time {
    visibility: hidden;
    font-family: 'Century Gothic';
}

h1 {
    font-family: Georgia;
    color: bisque;
    text-shadow: 3px 0 0 saddlebrown;
    text-align: center;
}

button {
    position: relative;
    font-family: 'Century Gothic';
}
